@charset "UTF-8";
/* CSS Document */


.itemList {
    display: block;
	padding-top:10px;
	padding-bottom:10px;
	
}

.itemList p {
	line-height: 1em;
	margin: 0px 0px 0em;
}


/*base-size*/
#item .subjectTitle {
	height:50px;
}

#item .subjectDetail {
	height:64px;
}

#item img {
	
  margin: 0px 0 0px 0;
  border: 0px solid #ebebeb;

  box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;

  padding: 0px;
}

#item .imageBox img {
	float:left;
	width: 50px;
	height: 50px;
	
	margin:0 5px 0 5px;
}

/*main:subject*/
#item .subjects {
	float:left;
}

#item .titleBlock {
	margin-top:4px;
	float:left;
	font-size:40px;
}

#item .subjects .titleBlock p {	
	font-size:42px;
	font-weight:bold;
	
	margin-top:10px;
	margin-left:5px;
	height:56px;
	color:#666666;
}

#item  .subjectDate {
	width: 115px;
	height: 64px;
	float: left;
}

#item  .subjectDate .year {
	float:left;
	font-size:18px;
	margin-top:5px;
	margin-left:5px;
	width:56px;
}

#item  .subjectDate .monthAndDay {
	font-size:18px;
	font-weight:bold;
	margin-left:5px;
	margin-top:5px;
}

#item  .subjectDate .subjectDescription {
	font-size:14px;
	
	margin-top:0.4em;
	margin-left:10px;
}

#item .subjectDescription .description {
	font-size: 16px;
	margin-top: 5px;
	margin-left: 115px;
	font-weight: bold;
	line-height: 1.3em;
}



#item .subjectStatus {
	float:right;
	background-color:#ffffff;
	height:29px;
}
#item .subjectStatus .limit {
	float:left;
	width:30px;
	font-size:14px;
	margin-top:5px;
	margin-left:2px;
}
#item .subjectStatus .peopleNum {
	color:#666666;
	float:left;
	width:30px;	
	font-size:24px;
	font-weight:bold;
	
	margin-left:14px;
	margin-top:6px;
}
#item .subjectStatus .maxNum {
	color:#000000;
	float:left;
	width:10px;	
	font-size:20px;
	font-weight:bold;
	
	margin-left:26px;
	margin-top:8px;
}
#item .subjectStatus .num {
	float:left;
	width:30px;
	font-size:18px;
	margin-top:10px;
}

#item .subjectStatus img{
		float:right;
	width: 113px;	
	margin-left:0px;

}



