@charset "UTF-8";
/* CSS Document */


.itemList {
    display: block;
	padding-top:10px;
	padding-bottom:10px;
	
	img {
		margin: 0px 0 0px 0;
		border: 0px solid #ebebeb;

		box-shadow: 0 0 0px #ebebeb;
		-webkit-box-shadow: 0 0 0px #ebebeb;
		-moz-box-shadow: 0 0 0px #ebebeb;
		-o-box-shadow: 0 0 0px #ebebeb;
		-ms-box-shadow: 0 0 0px #ebebeb;

		padding: 0px;	
	}
	
	p {
		line-height: 1em;
		margin: 0px 0px 0em;
	}
	
	
	.subjectTitle {
		height:50px;
		
		.imageBox img {
			float:left;
			width: 50px;
			height: 50px;
			margin:0 5px 0 5px;
		}

		.subjects {
			float:left;

			.titleBlock p {	
				font-size:42px;
				font-weight:bold;

				margin-top:10px;
				margin-left:5px;
				height:56px;
				color:#666666;
			}
		}
		.titleBlock {
			margin-top:8px;
			float:left;
			font-size:34px;
		}
	}
	
	.subjectDetail {
		height:64px;
		.subjectDate {
			width: 115px;
			height: 64px;
			float: left;

			.year {
				float:left;
				font-size:18px;
				margin-top:5px;
				margin-left:5px;
				width:56px;
			}

			.monthAndDay {
				font-size:18px;
				font-weight:bold;
				margin-left:5px;
				margin-top:5px;
			}
		}
		
		.subjectDescription {
			font-size:14px;

			margin-top:0.4em;
			margin-left:10px;

			.description {
//				background-color:#000000;
				font-size: 16px;
				margin-top: 5px;
				margin-left: 115px;
				font-weight: bold;
				line-height: 1.3em;
			}
		}
		
	}
	.subjectStatus {
		height:29px;
		background-color:#d8d8d8+#111;
		.subjectStatusRight {
			height:29px;
			float:right;
			color:#ffffff;
			background-color:#000000;

			img{
				float:right;
				width: 113px;	
				margin-left:0px;		
			}

			.limit {
				float:left;
				width:30px;
				font-size:14px;
				margin-top:5px;
				margin-left:2px;
			}

			.peopleNum {

				float:left;
				width:30px;	
				font-size:24px;
				font-weight:bold;

				margin-left:14px;
				margin-top:4px;
			}

			.maxNum {

				float:left;
				width:10px;	
				font-size:20px;
				font-weight:bold;

				margin-left:26px;
				margin-top:4px;
			}

			.num {
				float:left;
				width:30px;
				font-size:18px;
				margin-top:10px;
			}
		}

	}
	
	
}